:root {
  /* brand */
  --brand-500: #ff4f1f;

  /* gray */
  --gray-25: #fcfcfc;
  --gray-100: #edebeb;
  --gray-700: #878787;
  --gray-950: #121111;
}

body {
  font-family: inter, sans-serif;
}

h1 {
  font-size: 64px;
  margin-block-start: 0;
  margin-block-end: 0;
}

h2 {
  font-size: 48px;
}

.link-button {
  padding: 0px;
  color: var(--gray-950);
  display: flex;
  gap: 8px;
}

.link-button img {
  width: 12px;
}

button {
  padding: 10px;
  background-color: var(--brand-500);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

button:hover {
  background-color: #e64a19;
}
